<!DOCTYPE html>
{% extends 'ManuApp/base.html'%}
{%block body_block%}
    <h1>Student Information(Details) CBVs</h1>
    <hr />
    <table border='2'>
        <thead>
            <th>Stu-No</th>
            <th>Stu-Name</th>
            <th>Stu-Sub</th>
            <th>Stu-College</th>
            <th colspan="2">Operations</th>
        </thead>
        <tbody>
        {%for stu in students %}
            <tr>
                <td>{{stu.sno}}</td>
                <td>{{stu.sname}}</td>
                <td>{{stu.ssub}}</td>
                <td>{{stu.scollege}}</td>
                <td>
                    <a href="/update/{{ stu.id }}">Update</a> |
                    <a href="/delete/{{ stu.id }}">Delete</a>
                </td>
            </tr>
        {%endfor%}
        </tbody>
    </table><br /><br ><br />
    <a href="/insert">Click to Insert New-Student</a>
{%endblock%}




